# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJ IDEA
.idea/
out/
controlsfx.iml

# Netbeans
.nb-gradle/
.nb-gradle-properties

# Eclipse
.settings/
.project
.classpath
bin/
test-output/

# VsCode
.vscode/
docs/
create_toy_problem.pdf

# MacOS
.DS_Store

#github
.github/


#MaDKit build dirs
Logs
**/logs/*
MLK-experiments/logs/*

# Grafana authentication token
grafana_token.txt
